node_modules
dist
build
out
assets
postgres_data
*.html
*.css
*.sh
*.js
*.d.ts
*.json
*.jpg
*.jpeg
*.png
*.ico
*.gif
*.svg
*.webmanifest
*.yml
*.tf
*.txt
*.pxm
*.sql
*.lock
*.md
*.tsbuildinfo
*.stub
*.sublime-project
*.sublime-workspace
Caddyfile
*.log
